/* MEDIA QUERIES
================================================================*/

/*--- Phone
----------------------------------------------------------------*/
@media (max-width: 767px) {
	body { padding: 0 30px 0 20px; }
	.cab-sidebar { display: none !important; }
	.maincontent { position: static; left: 0%; }
}


/*--- Tablet
----------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 979px) {
	
}


/*--- Desktop
----------------------------------------------------------------*/
@media (min-width: 980px)  {

}


/*--- Desktop - Wide
----------------------------------------------------------------*/
@media (min-width: 1200px) {

}